<div class="navbar-before mobile-hidden">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <p class="navbar-before-sign">Everything You Need is theBox</p>
          </div>
          <div class="col-md-6">
              <ul class="nav navbar-nav navbar-right navbar-right-no-mar">
                  <li><a href="#">About Us</a>
                  </li>
                  <li><a href="#">Blog</a>
                  </li>
                  <li><a href="#">Contact Us</a>
                  </li>
                  <li><a href="#">FAQ</a>
                  </li>
                  <li><a href="#">Wishlist</a>
                  </li>
                  <li><a href="#">Help</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-login-dialog">
    <h3 class="widget-title">Member Login</h3>
    <p>Welcome back, friend. Login to get started</p>
    <hr />
    <%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
      <fieldset id="password-credentials">
        <div class="form-group">
          <%= f.email_field :email, :class => 'form-control', :tabindex => 1, :placeholder => Spree.t(:email) %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, :class => 'form-control', :tabindex => 2, :placeholder => Spree.t(:password) %>
        </div>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, Spree.t(:remember_me) %>
          </label>
        </div>
        <div class="form-group">
          <%= f.submit Spree.t(:login), :class => 'btn btn-lg btn-success btn-block', :tabindex => 3 %>
        </div>
      </fieldset>
    <% end %>
    <div class="gap gap-small"></div>
    <ul class="list-inline">
        <li><a href="#nav-account-dialog" class="popup-text">Not Member Yet</a>
        </li>
        <li><a href="#nav-pwd-dialog" class="popup-text">Forgot Password?</a>
        </li>
    </ul>
</div>
<div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-account-dialog">
    <h3 class="widget-title">Create TheBox Account</h3>
    <p>Ready to get best offers? Let's get started!</p>
    <hr />
    <form>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Repeat Password</label>
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input class="form-control" type="text" />
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Subscribe to the Newsletter</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Create Account" />
    </form>
    <div class="gap gap-small"></div>
    <ul class="list-inline">
        <li><a href="#nav-login-dialog" class="popup-text">Already Memeber</a>
        </li>
    </ul>
</div>
<div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-pwd-dialog">
    <h3 class="widget-title">Password Recovery</h3>
    <p>Enter Your Email and We Will Send the Instructions</p>
    <hr />
    <form>
        <div class="form-group">
            <label>Your Email</label>
            <input class="form-control" type="text" />
        </div>
        <input class="btn btn-primary" type="submit" value="Recover Password" />
    </form>
</div>
<nav class="navbar navbar-inverse navbar-main yamm">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <%= image_tag 'logo-w.png', :alt => "Image Alternative text", :title => "Image Title" %>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#"><i class="fa fa-reorder"></i>&nbsp; Shop by Category<i class="drop-caret" data-toggle="dropdown"></i></a>
                    <ul class="dropdown-menu dropdown-menu-category">
                        <li><a href="#"><i class="fa fa-home dropdown-menu-category-icon"></i>Home & Garden</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Home & Garden</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Home</a>
                                                        <p>Lorem fermentum dui nascetur fermentum</p>
                                                    </li>
                                                    <li><a href="#">Kitchen</a>
                                                        <p>Elit tincidunt curabitur gravida morbi</p>
                                                    </li>
                                                    <li><a href="#">Furniture & Decor</a>
                                                        <p>Duis turpis tincidunt platea faucibus</p>
                                                    </li>
                                                    <li><a href="#">Bedding & Bath</a>
                                                        <p>Aptent sapien orci quam faucibus</p>
                                                    </li>
                                                    <li><a href="#">Appilances</a>
                                                        <p>Ipsum tempor nunc tincidunt netus</p>
                                                    </li>
                                                    <li><a href="#">Patio, Lawn & Garden</a>
                                                        <p>Habitasse mus mattis parturient mus</p>
                                                    </li>
                                                    <li><a href="#">Wedding Registry</a>
                                                        <p>Nisl inceptos litora laoreet id</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Home Improvement</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Home Improvement</a>
                                                        <p>Est habitasse lorem vitae gravida</p>
                                                    </li>
                                                    <li><a href="#">Lamps & Light Fixtures</a>
                                                        <p>Diam nunc vivamus fringilla est</p>
                                                    </li>
                                                    <li><a href="#">Kitchen & Bath Fixtures</a>
                                                        <p>Imperdiet magna litora lorem porta</p>
                                                    </li>
                                                    <li><a href="#">Home Automation</a>
                                                        <p>Condimentum leo cras aliquet turpis</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag 'test_cat/2-i.png', :class => "dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title => "Image Title", :style => "right: -10px;" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-diamond dropdown-menu-category-icon"></i>Jewelry</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Jewelry</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Necklances & Pendants</a>
                                                        <p>Mattis condimentum id malesuada himenaeos</p>
                                                    </li>
                                                    <li><a href="#">Bracelets</a>
                                                        <p>Praesent dictumst vitae elementum sit</p>
                                                    </li>
                                                    <li><a href="#">Rings</a>
                                                        <p>Lacus ultrices sollicitudin quisque natoque</p>
                                                    </li>
                                                    <li><a href="#">Errings</a>
                                                        <p>Laoreet integer id nibh consectetur</p>
                                                    </li>
                                                    <li><a href="#">Wedding & Engagement</a>
                                                        <p>Nullam ad vel ante pulvinar</p>
                                                    </li>
                                                    <li><a href="#">Charms</a>
                                                        <p>Metus nullam sociis litora eleifend</p>
                                                    </li>
                                                    <li><a href="#">Booches</a>
                                                        <p>Augue nam accumsan a etiam</p>
                                                    </li>
                                                    <li><a href="#">Men's Jewelry</a>
                                                        <p>Sit condimentum curae platea praesent</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Jewelry Shops</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Contemporary & Designer</a>
                                                        <p>Venenatis nam facilisi sociosqu facilisis</p>
                                                    </li>
                                                    <li><a href="#">Juniors</a>
                                                        <p>Morbi morbi etiam fusce venenatis</p>
                                                    </li>
                                                    <li><a href="#">Meternity</a>
                                                        <p>Lacus nullam scelerisque cum inceptos</p>
                                                    </li>
                                                    <li><a href="#">Pettite</a>
                                                        <p>Viverra tortor vehicula lacus ut</p>
                                                    </li>
                                                    <li><a href="#">Uniforms, Works & Safety</a>
                                                        <p>Habitasse posuere volutpat netus imperdiet</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/3-i.png", :class => "dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title => "Image Title", :style=> "right: -10px; bottom: -10px;" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-child dropdown-menu-category-icon"></i>Toy & Kids</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Kids Clothing</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Accessories</a>
                                                        <p>Est ante metus potenti vitae</p>
                                                    </li>
                                                    <li><a href="#">Active Wear</a>
                                                        <p>Auctor sociosqu mus pharetra aliquam</p>
                                                    </li>
                                                    <li><a href="#">Coats & Jackets</a>
                                                        <p>Convallis nullam posuere inceptos magna</p>
                                                    </li>
                                                    <li><a href="#">Jeans</a>
                                                        <p>Curabitur ultrices cras mattis sodales</p>
                                                    </li>
                                                    <li><a href="#">Sets</a>
                                                        <p>Ornare praesent euismod ultricies purus</p>
                                                    </li>
                                                    <li><a href="#">Indoors</a>
                                                        <p>Congue justo consequat morbi risus</p>
                                                    </li>
                                                    <li><a href="#">Swimwear</a>
                                                        <p>Volutpat odio turpis porta nisi</p>
                                                    </li>
                                                    <li><a href="#">Special Occasion</a>
                                                        <p>Dis cursus fringilla fringilla adipiscing</p>
                                                    </li>
                                                    <li><a href="#">Shoes</a>
                                                        <p>Cursus parturient scelerisque sit elementum</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">More For Kids</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Kids Furniture</a>
                                                        <p>Conubia augue sociosqu elit pretium</p>
                                                    </li>
                                                    <li><a href="#">Kids Jewelry & Watches</a>
                                                        <p>Ridiculus rhoncus mi ullamcorper vitae</p>
                                                    </li>
                                                    <li><a href="#">Toys & Games</a>
                                                        <p>Sociis ultrices penatibus et quis</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/4-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-plug dropdown-menu-category-icon"></i>Electronics</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Electronics</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">TV & Video</a>
                                                        <p>Ridiculus lectus rhoncus quis urna</p>
                                                    </li>
                                                    <li><a href="#">Home Audio & Theater</a>
                                                        <p>Duis amet mus primis litora</p>
                                                    </li>
                                                    <li><a href="#">Camera, Photo & Video</a>
                                                        <p>Donec hendrerit adipiscing cubilia sociosqu</p>
                                                    </li>
                                                    <li><a href="#">Cell Phones & Accessories</a>
                                                        <p>Tristique cum pretium amet inceptos</p>
                                                    </li>
                                                    <li><a href="#">Headphones</a>
                                                        <p>Vel dictumst interdum nam risus</p>
                                                    </li>
                                                    <li><a href="#">Video Games</a>
                                                        <p>Viverra aenean nostra lobortis class</p>
                                                    </li>
                                                    <li><a href="#">Gar Electronics</a>
                                                        <p>Malesuada et himenaeos vivamus ullamcorper</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Computers</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Laptops & Tablets</a>
                                                        <p>Quis fermentum nostra taciti sagittis</p>
                                                    </li>
                                                    <li><a href="#">Desktops & Monitors</a>
                                                        <p>Per lobortis libero neque eros</p>
                                                    </li>
                                                    <li><a href="#">Computer Accessories</a>
                                                        <p>Massa erat suspendisse laoreet dolor</p>
                                                    </li>
                                                    <li><a href="#">Software</a>
                                                        <p>Id sociis aliquam mauris justo</p>
                                                    </li>
                                                    <li><a href="#">Printers & Ink</a>
                                                        <p>Eleifend interdum ultricies litora est</p>
                                                    </li>
                                                    <li><a href="#">Networking</a>
                                                        <p>Inceptos inceptos condimentum penatibus gravida</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/5-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-tags dropdown-menu-category-icon"></i>Clothes & Shoes</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">TheBox Fashion</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Woman</a>
                                                        <p>In lectus nunc class tincidunt</p>
                                                    </li>
                                                    <li><a href="#">Men</a>
                                                        <p>At tortor viverra habitasse auctor</p>
                                                    </li>
                                                    <li><a href="#">Girls</a>
                                                        <p>Pharetra tempor quam ante placerat</p>
                                                    </li>
                                                    <li><a href="#">Boys</a>
                                                        <p>Class mus commodo cum magna</p>
                                                    </li>
                                                    <li><a href="#">Baby</a>
                                                        <p>Primis sed risus interdum purus</p>
                                                    </li>
                                                    <li><a href="#">Luggage</a>
                                                        <p>Et scelerisque porta natoque blandit</p>
                                                    </li>
                                                    <li><a href="#">Accessories</a>
                                                        <p>Ultricies platea phasellus gravida id</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/6-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title", :style =>"right: -20px;" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-futbol-o dropdown-menu-category-icon"></i>Sports</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Sports</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Athletic Clothing</a>
                                                        <p>Eleifend aliquet odio tempus pharetra</p>
                                                    </li>
                                                    <li><a href="#">Exorcise & Fitness</a>
                                                        <p>Congue at orci suspendisse taciti</p>
                                                    </li>
                                                    <li><a href="#">Hunting & Fishing</a>
                                                        <p>Duis imperdiet conubia risus dictumst</p>
                                                    </li>
                                                    <li><a href="#">Team Sports</a>
                                                        <p>Fringilla fermentum sem nascetur dis</p>
                                                    </li>
                                                    <li><a href="#">Fan Sports</a>
                                                        <p>Sagittis lectus libero dolor himenaeos</p>
                                                    </li>
                                                    <li><a href="#">Golf</a>
                                                        <p>Nullam lectus at interdum sodales</p>
                                                    </li>
                                                    <li><a href="#">Sports Collections</a>
                                                        <p>Nulla ac quam arcu netus</p>
                                                    </li>
                                                    <li><a href="#">Camping & Hiking</a>
                                                        <p>Pulvinar purus pulvinar laoreet maecenas</p>
                                                    </li>
                                                    <li><a href="#">Cycling</a>
                                                        <p>Egestas suspendisse quis venenatis mollis</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/7-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title", :style =>"right: -39px;" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-music dropdown-menu-category-icon"></i>Entertaiment</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Entertaiment</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Video Games & Consoles</a>
                                                        <p>Tempus ornare in mi ridiculus</p>
                                                    </li>
                                                    <li><a href="#">Music</a>
                                                        <p>Porttitor magnis mollis accumsan accumsan</p>
                                                    </li>
                                                    <li><a href="#">DVD & Movies</a>
                                                        <p>Maecenas justo mus dapibus bibendum</p>
                                                    </li>
                                                    <li><a href="#">Tickets</a>
                                                        <p>Massa tempus et malesuada ornare</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Memorabilia</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Autographs</a>
                                                    </li>
                                                    <li><a href="#">Movie</a>
                                                    </li>
                                                    <li><a href="#">Music</a>
                                                    </li>
                                                    <li><a href="#">Television</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/7-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title", :style =>"right: -27px;" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-location-arrow dropdown-menu-category-icon"></i>Travel</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Travel Equepment</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Luggage</a>
                                                        <p>Velit turpis lorem dictumst elit</p>
                                                    </li>
                                                    <li><a href="#">Travel Accessories</a>
                                                        <p>Dictum dolor velit pretium pharetra</p>
                                                    </li>
                                                    <li><a href="#">Luggage Accessories</a>
                                                        <p>Ipsum fermentum suscipit magna fringilla</p>
                                                    </li>
                                                    <li><a href="#">Lodging</a>
                                                        <p>Congue non dui penatibus per</p>
                                                    </li>
                                                    <li><a href="#">Maps</a>
                                                        <p>Libero varius odio sodales hac</p>
                                                    </li>
                                                    <li><a href="#">Other Travel</a>
                                                        <p>Et vestibulum vivamus sapien facilisis</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Booking</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Vacation Packages</a>
                                                        <p>Tempor ullamcorper primis non augue</p>
                                                    </li>
                                                    <li><a href="#">Campground & RV</a>
                                                        <p>A nunc facilisis sapien auctor</p>
                                                    </li>
                                                    <li><a href="#">Rail</a>
                                                        <p>Litora vestibulum purus luctus posuere</p>
                                                    </li>
                                                    <li><a href="#">Car Rental</a>
                                                        <p>Porttitor cubilia at felis commodo</p>
                                                    </li>
                                                    <li><a href="#">Cruises</a>
                                                        <p>Potenti diam ridiculus enim per</p>
                                                    </li>
                                                    <li><a href="#">Airline</a>
                                                        <p>Orci aliquet quam proin sit</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/11-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title", :style =>"right: -100px;" %>
                                    
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-picture-o dropdown-menu-category-icon"></i>Art & Design</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Art</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Paintings from Dealers & Resellers</a>
                                                        <p>Neque porta conubia nam iaculis</p>
                                                    </li>
                                                    <li><a href="#">Paintings Direct from Artist</a>
                                                        <p>Phasellus nam dignissim tincidunt sapien</p>
                                                    </li>
                                                    <li><a href="#">Art Prints</a>
                                                        <p>Eros nam bibendum nunc vehicula</p>
                                                    </li>
                                                    <li><a href="#">Art Photographs from Resellers</a>
                                                        <p>Accumsan lacus euismod sit inceptos</p>
                                                    </li>
                                                    <li><a href="#">Art Photographs from the Artist</a>
                                                        <p>Tristique hac nunc ante vestibulum</p>
                                                    </li>
                                                    <li><a href="#">Art Posters</a>
                                                        <p>Ut nec senectus nibh non</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Design</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Home Decor Decals</a>
                                                        <p>Iaculis amet elit lorem enim</p>
                                                    </li>
                                                    <li><a href="#">Furniture</a>
                                                        <p>Nec tortor convallis ultrices quis</p>
                                                    </li>
                                                    <li><a href="#">Wallpapers</a>
                                                        <p>Ad penatibus nisl justo natoque</p>
                                                    </li>
                                                    <li><a href="#">Bar Flasks</a>
                                                        <p>Pharetra adipiscing ultricies aliquam erat</p>
                                                    </li>
                                                    <li><a href="#">Posters & Prints</a>
                                                        <p>In condimentum hendrerit vulputate lacus</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/12-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-motorcycle dropdown-menu-category-icon"></i>Motors</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Motors</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Parts & Accessories</a>
                                                        <p>Fames aliquet volutpat habitasse himenaeos</p>
                                                    </li>
                                                    <li><a href="#">Cars & Trucks</a>
                                                        <p>Adipiscing sociosqu tincidunt orci rutrum</p>
                                                    </li>
                                                    <li><a href="#">Motorcycles</a>
                                                        <p>Nullam enim vitae facilisi vel</p>
                                                    </li>
                                                    <li><a href="#">Passenger Vehicles</a>
                                                        <p>Curabitur porta adipiscing turpis senectus</p>
                                                    </li>
                                                    <li><a href="#">Industry Vehicles</a>
                                                        <p>Pellentesque ut class vitae donec</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Brands</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">BMW</a>
                                                    </li>
                                                    <li><a href="#">Land Rover</a>
                                                    </li>
                                                    <li><a href="#">Nissan</a>
                                                    </li>
                                                    <li><a href="#">Honda</a>
                                                    </li>
                                                    <li><a href="#">Ford</a>
                                                    </li>
                                                    <li><a href="#">Porsche</a>
                                                    </li>
                                                    <li><a href="#">Audi</a>
                                                    </li>
                                                    <li><a href="#">Mercedes-Benz</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/13-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title", :style =>"right: -15px; bottom: -15px;" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-paw dropdown-menu-category-icon"></i>Pets</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <h5 class="dropdown-menu-category-title">Pet Supplies</h5>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Backyard Poultry Supplies</a>
                                                        <p>A senectus porta erat ultricies</p>
                                                    </li>
                                                    <li><a href="#">Bird Supplies</a>
                                                        <p>Auctor tellus natoque cursus cursus</p>
                                                    </li>
                                                    <li><a href="#">Cat Supplies</a>
                                                        <p>Parturient commodo diam donec est</p>
                                                    </li>
                                                    <li><a href="#">Dog Supplies</a>
                                                        <p>Pharetra ut rutrum justo ornare</p>
                                                    </li>
                                                    <li><a href="#">Pet Memorials & Urns</a>
                                                        <p>Ullamcorper volutpat fusce taciti augue</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Fish & Aquariums</a>
                                                        <p>Justo pulvinar pellentesque tortor dapibus</p>
                                                    </li>
                                                    <li><a href="#">Horse Supplies</a>
                                                        <p>Sodales tincidunt fusce sociis hendrerit</p>
                                                    </li>
                                                    <li><a href="#">Reptile Supplies</a>
                                                        <p>Tempus tellus malesuada mi magnis</p>
                                                    </li>
                                                    <li><a href="#">Small Animal Supplies</a>
                                                        <p>Litora ridiculus amet at netus</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Wholesale Lots</a>
                                                        <p>Primis cras lectus donec vivamus</p>
                                                    </li>
                                                    <li><a href="#">Other Pet Supplies</a>
                                                        <p>Mi venenatis sapien non lacus</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/14-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title", :style =>"right: -15px;" %>
                                </div>
                            </div>
                        </li>
                        <li><a href="#"><i class="fa fa-cubes dropdown-menu-category-icon"></i>Hobbies & DIY</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Hobby & DIY</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Model & Kit Tools</a>
                                                        <p>Massa nibh sit dictumst porta</p>
                                                    </li>
                                                    <li><a href="#">Supplies & Engines</a>
                                                        <p>Ac commodo urna vivamus lacinia</p>
                                                    </li>
                                                    <li><a href="#">RC Airline & Helicopter</a>
                                                        <p>Accumsan facilisi feugiat lectus etiam</p>
                                                    </li>
                                                    <li><a href="#">RC Car, Truck & motorcycle</a>
                                                        <p>Nostra dis curabitur conubia pulvinar</p>
                                                    </li>
                                                    <li><a href="#">Military Airline Models & Kits</a>
                                                        <p>Nascetur curabitur eros accumsan turpis</p>
                                                    </li>
                                                    <li><a href="#">Craft Airbrushing Supplies</a>
                                                        <p>Molestie ullamcorper et dictum tincidunt</p>
                                                    </li>
                                                    <li><a href="#">Card Making Supplies</a>
                                                        <p>Scelerisque taciti suspendisse fames cras</p>
                                                    </li>
                                                    <li><a href="#">Craft Sewing</a>
                                                        <p>Orci turpis in ornare ut</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag "test_cat/15-i.png", :class =>"dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title =>"Image Title", :style =>"height: 100%;" %>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left navbar-main-search" role="search">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Search the Entire Store..." />
                </div>
                <a class="fa fa-search navbar-main-search-submit" href="#"></a>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <% if spree_current_user %>
                  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
                  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
                <% else %>
                    <li><a href="#nav-login-dialog" data-effect="mfp-move-from-top" class="popup-text">Sign In</a></li>
                    <li><a href="#nav-account-dialog" data-effect="mfp-move-from-top" class="popup-text">Create Account</a>
                <% end %>
                
                </li>
                <li class="dropdown">
                    <a class="fa fa-shopping-cart" href="shopping-cart.html"></a>
                    <ul class="dropdown-menu dropdown-menu-shipping-cart">
                        <li>
                            <a class="dropdown-menu-shipping-cart-img" href="#">
                                <%= image_tag "100x100.png", :alt => "Image Alternative text", :title =>"Image Title" %>
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">$71</p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#">Gucci Patent Leather Open Toe Platform</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-menu-shipping-cart-img" href="#">
                                <%= image_tag "100x100.png", :alt => "Image Alternative text", :title =>"Image Title" %>
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">$52</p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#">Nikon D5200 24.1 MP Digital SLR Camera</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-menu-shipping-cart-img" href="#">
                                <%= image_tag "100x100.png", :alt => "Image Alternative text", :title =>"Image Title" %>
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">$60</p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#">Apple 11.6" MacBook Air Notebook </a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-menu-shipping-cart-img" href="#">
                                <%= image_tag "100x100.png", :alt => "Image Alternative text", :title =>"Image Title" %>
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">$29</p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#">Fossil Women's Original Boyfriend</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <p class="dropdown-menu-shipping-cart-total">Total: $150</p>
                            <button class="dropdown-menu-shipping-cart-checkout btn btn-primary">Checkout</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>