<div class="navbar-before mobile-hidden">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <p class="navbar-before-sign">Everything You Need is theBox</p>
          </div>
          <div class="col-md-6">
              <ul class="nav navbar-nav navbar-right navbar-right-no-mar">
                  <li><a href="#">About Us</a>
                  </li>
                  <li><a href="#">Blog</a>
                  </li>
                  <li><a href="#">Contact Us</a>
                  </li>
                  <li><a href="#">FAQ</a>
                  </li>
                  <li><a href="#">Wishlist</a>
                  </li>
                  <li><a href="#">Help</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-login-dialog">
    <h3 class="widget-title">Member Login</h3>
    <p>Welcome back, friend. Login to get started</p>
    <hr />
    <%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
      <fieldset id="password-credentials">
        <div class="form-group">
          <%= f.email_field :email, :class => 'form-control', :tabindex => 1, :placeholder => Spree.t(:email) %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, :class => 'form-control', :tabindex => 2, :placeholder => Spree.t(:password) %>
        </div>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, Spree.t(:remember_me) %>
          </label>
        </div>
        <div class="form-group">
          <%= f.submit Spree.t(:login), :class => 'btn btn-lg btn-success btn-block', :tabindex => 3 %>
        </div>
      </fieldset>
    <% end %>
    <div class="gap gap-small"></div>
    <ul class="list-inline">
        <li><a href="#nav-account-dialog" class="popup-text">Not Member Yet</a>
        </li>
        <li><a href="#nav-pwd-dialog" class="popup-text">Forgot Password?</a>
        </li>
    </ul>
</div>
<div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-account-dialog">
    <h3 class="widget-title">Create TheBox Account</h3>
    <p>Ready to get best offers? Let's get started!</p>
    <hr />
    <form>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Repeat Password</label>
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input class="form-control" type="text" />
        </div>
        <div class="checkbox">
            <label>
                <input class="i-check" type="checkbox" />Subscribe to the Newsletter</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Create Account" />
    </form>
    <div class="gap gap-small"></div>
    <ul class="list-inline">
        <li><a href="#nav-login-dialog" class="popup-text">Already Memeber</a>
        </li>
    </ul>
</div>
<div class="mfp-with-anim mfp-hide mfp-dialog clearfix" id="nav-pwd-dialog">
    <h3 class="widget-title">Password Recovery</h3>
    <p>Enter Your Email and We Will Send the Instructions</p>
    <hr />
    <form>
        <div class="form-group">
            <label>Your Email</label>
            <input class="form-control" type="text" />
        </div>
        <input class="btn btn-primary" type="submit" value="Recover Password" />
    </form>
</div>
<nav class="navbar navbar-inverse navbar-main yamm">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <%= image_tag 'logo-w.png', :alt => "Image Alternative text", :title => "Image Title" %>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#"><i class="fa fa-reorder"></i>&nbsp; Shop by Category<i class="drop-caret" data-toggle="dropdown"></i></a>
                    <ul class="dropdown-menu dropdown-menu-category">
                        <%= render partial: 'spree/shared/collapse_categs' %>
                        <!--
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Home & Garden</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Home</a>
                                                        <p>Lorem fermentum dui nascetur fermentum</p>
                                                    </li>
                                                    <li><a href="#">Kitchen</a>
                                                        <p>Elit tincidunt curabitur gravida morbi</p>
                                                    </li>
                                                    <li><a href="#">Furniture & Decor</a>
                                                        <p>Duis turpis tincidunt platea faucibus</p>
                                                    </li>
                                                    <li><a href="#">Bedding & Bath</a>
                                                        <p>Aptent sapien orci quam faucibus</p>
                                                    </li>
                                                    <li><a href="#">Appilances</a>
                                                        <p>Ipsum tempor nunc tincidunt netus</p>
                                                    </li>
                                                    <li><a href="#">Patio, Lawn & Garden</a>
                                                        <p>Habitasse mus mattis parturient mus</p>
                                                    </li>
                                                    <li><a href="#">Wedding Registry</a>
                                                        <p>Nisl inceptos litora laoreet id</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Home Improvement</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#">Home Improvement</a>
                                                        <p>Est habitasse lorem vitae gravida</p>
                                                    </li>
                                                    <li><a href="#">Lamps & Light Fixtures</a>
                                                        <p>Diam nunc vivamus fringilla est</p>
                                                    </li>
                                                    <li><a href="#">Kitchen & Bath Fixtures</a>
                                                        <p>Imperdiet magna litora lorem porta</p>
                                                    </li>
                                                    <li><a href="#">Home Automation</a>
                                                        <p>Condimentum leo cras aliquet turpis</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <%= image_tag 'test_cat/2-i.png', :class => "dropdown-menu-category-section-theme-img", :alt => "Image Alternative text", :title => "Image Title", :style => "right: -10px;" %>
                                </div>
                            </div>
                        -->
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left navbar-main-search" role="search">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Search the Entire Store..." />
                </div>
                <a class="fa fa-search navbar-main-search-submit" href="#"></a>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <% if spree_current_user %>
                  <li><%= link_to Spree.t(:my_account), spree.account_path %></li>
                  <li><%= link_to Spree.t(:logout), spree.logout_path %></li>
                <% else %>
                    <li><a href="#nav-login-dialog" data-effect="mfp-move-from-top" class="popup-text">Sign In</a></li>
                    <li><a href="#nav-account-dialog" data-effect="mfp-move-from-top" class="popup-text">Create Account</a>
                <% end %>
                
                </li>
                <li class="dropdown">
                    <a class="fa fa-shopping-cart" href="shopping-cart.html"></a>
                    <ul class="dropdown-menu dropdown-menu-shipping-cart">
                        <li>
                            <a class="dropdown-menu-shipping-cart-img" href="#">
                                <%= image_tag "100x100.png", :alt => "Image Alternative text", :title =>"Image Title" %>
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">$71</p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#">Gucci Patent Leather Open Toe Platform</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-menu-shipping-cart-img" href="#">
                                <%= image_tag "100x100.png", :alt => "Image Alternative text", :title =>"Image Title" %>
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">$52</p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#">Nikon D5200 24.1 MP Digital SLR Camera</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-menu-shipping-cart-img" href="#">
                                <%= image_tag "100x100.png", :alt => "Image Alternative text", :title =>"Image Title" %>
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">$60</p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#">Apple 11.6" MacBook Air Notebook </a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-menu-shipping-cart-img" href="#">
                                <%= image_tag "100x100.png", :alt => "Image Alternative text", :title =>"Image Title" %>
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">$29</p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#">Fossil Women's Original Boyfriend</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <p class="dropdown-menu-shipping-cart-total">Total: $150</p>
                            <button class="dropdown-menu-shipping-cart-checkout btn btn-primary">Checkout</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>