<%
  medium_size = 'medium'
  maximum_size = 'maximum'
  small_size = 'small'
%> 

<% content_for :header_content do %>
    <%= render partial: 'spree/shared/header' %>
<% end %>

<% content_for :main_content do %>
<div class="container">
    <header class="page-header">
        <%= render partial: 'spree/shared/list_categs' %>
    </header>
    <div class="row">
        <div class="col-md-7">
            <div class="jqzoom-left clearfix">
                <ul class="jqzoom-list">
                    <% @product.images.each do |image| %>
                    <li>
                        <a class="<%= 'zoomThumbActive' if @product.images.first.id == image.id %>" href="javascript:void(0)" data-rel="{gallery:'gal-1', smallimage: '<%= image.attachment.url(medium_size) %>', largeimage: '<%= image.attachment.url(maximum_size) %>'}">
                            <%= image_tag image.attachment.url(small_size), :alt => "Image Alternative text", :title => "Image Title" %>
                        </a>
                    </li>
                    <% end %>
                </ul>
                <div class="product-page-product-wrap jqzoom-stage jqzoom-stage-lg">
                    <div class="clearfix">
                        <a href="<%= @product.images.first.attachment.url(maximum_size) %>" id="jqzoom" data-rel="gal-1">
                            <%= image_tag @product.images.first.attachment.url(medium_size), :alt => "Image Alternative text", :title => "Image Title" %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
                <h1><%= @product.name %></h1>
                <p class="product-page-price"><%= display_price(@product) %></p>
                <p class="product-page-desc-lg"><%= product_description(@product) rescue Spree.t(:product_has_no_description) %></p>
                <%= render partial: 'spree/products/cart_form' %>
            </div>
        </div>
    </div>
    <div class="gap"></div>
    <div class="tabbable product-tabs">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#tab-1" data-toggle="tab">Description</a>
            </li>
            <li><a href="#tab-2" data-toggle="tab">Additional Information</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-1">
                <p>Molestie dictum facilisis faucibus urna proin tristique senectus penatibus montes in dolor potenti dolor maecenas sagittis mollis sed interdum lacus consectetur varius tempor litora tristique potenti congue pulvinar tempus posuere</p>
                <p>Senectus nisl mattis ad eleifend torquent quisque elit auctor vel</p>
            </div>
            <div class="tab-pane fade" id="tab-2">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Weight:</td>
                            <td>0.3 kg</td>
                        </tr>
                        <tr>
                            <td>Dimensions:</td>
                            <td>20 ½" W x 12" H x 10 ¾" D with 9" strap drop and 52" removable, adjustable strap</td>
                        </tr>
                        <tr>
                            <td>Materials:</td>
                            <td>100% Cotton</td>
                        </tr>
                        <tr>
                            <td>Care Tips:</td>
                            <td>Machine wash cold, gentle cycle, only non-chlorine bleach when needed; line dry</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>
<div class="gap"></div>
<% end %>