<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<div class="container" data-hook="main_content">
    <div class="gap gap-small"></div>
    <header class="page-header" data-hook="main_content_header">
        <%= yield :page_title %>
        <%= yield :list_categs %>
        <% if not (@products == nil or @products.size <= 1) %>
        <ul class="category-selections clearfix">
            <li><span class="category-selections-sign">Sort by :</span>
                <select class="category-selections-select">
                    <option selected>Newest First</option>
                    <option>Best Sellers</option>
                    <option>Trending Now</option>
                    <option>Best Raited</option>
                    <option>Price : Lowest First</option>
                    <option>Price : Highest First</option>
                    <option>Title : A - Z</option>
                    <option>Title : Z - A</option>
                </select>
            </li> 
        </ul>
        <% end %>
    </header>
    <div class="gap gap-small"></div>
    <div data-hook="main_content_body">
    <% products.each_slice(4) do |row_products| %>
        <div class="row" data-gutter="15">
            <% row_products.each do |product| %>
                <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
                <div class="col-md-3">
                    <div class="product ">
                        <div class="product-img-wrap">
                            <%= medium_image(product, itemprop: "image", class: "product-img-primary") %>
                        </div>
                        <a class="product-link" href=<%= url %>></a>
                        <div class="product-caption">
                            <h5 class="product-caption-title"><%= product.name %></h5>
                            <div class="product-caption-price">
                                <span class="product-caption-price-new" itemprop="price"><%= display_price(product)%></span>
                            </div>
                            <ul class="product-caption-feature-list">
                                <li>Free Shipping</li>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
    </div>

    <% if paginated_products.respond_to?(:num_pages) %>
        <%= paginate paginated_products, theme: 'twitter-bootstrap-3' %>
    <% end %>
</div>