<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body data-hook="body">
    <div class="global-wrapper clearfix" id="global-wrapper">
      <%= render partial: 'spree/shared/google_analytics.js' %>
      <%= render partial: 'spree/shared/header' %>
      <%= yield :main_content %>
      <%= render partial: 'spree/shared/footer' %>
      <%= render partial: 'spree/shared/load_js_files' %>
    </div>
  </body>
</html>